* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.wrapper {
   width: 60vw;
   margin: 50px auto;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid #000;
}

.names {
   width: 50%;
}

.drink {
   width: 100%;
   height: 25px;
   border: 1px solid gray;
   background-color: rgb(242, 245, 238);
   clip-path: polygon(0% 0%, 92% 0%, 100% 50%, 92% 100%, 0% 100%);
}

.image {
   width: 50%;
}

img {
   width: 100%;
}

.drink:hover {
   background-color: rgb(184, 179, 179);
}

.active {
   background-color: rgb(128, 109, 235) !important;
}